language: node_js

cache:
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - node

script:
  - npm run test
  - npm run build:lib
  - npm run clean:packagejson

after_success:
  - test $TRAVIS_BRANCH = "master" && npm run semantic-release

branches:
  except:
    - /^v\d+\.\d+\.\d+$/